body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #DDD;
}

.navbar {
    color: white;
    background-color: #333;
    overflow: hidden;
    height: 53px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.navbar a:not(.brand-icon) {
    font-size: 2em;
    float: left;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 0.25em;
}

.navbar a:hover:not(.active-tab):not(.brand-icon) {
    background-color: #444;
}

.navbar #logo {
    background-color: #333;
    float: left;
}

.content {
    display: none;
    background-color: #EEEEEEBB;
    margin: 5%;
    padding: 5%;
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.active-tab {
    background-color: cornflowerblue;
}

.brand-icon {
    margin: 2px;
    width: 53px;
    float: right;
}

.brand-icon img {
    height: 95%;
    filter: invert(100%) sepia(3%) saturate(10%) hue-rotate(303deg) brightness(102%) contrast(104%);
}

.brand-icon img:hover {
    filter: invert(57%) sepia(52%) saturate(2193%) hue-rotate(195deg) brightness(97%) contrast(91%);
}

